@use 'src/styles/reset';
@import "src/styles/utils";

.shop-cards-container {
  flex: 1 0 90%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  align-content: flex-start;
}

.shop-card-container {
  flex: 1 0 20%;
  display: grid;
  grid-template-areas: 'img img'
                       'img img'
                       'img img'
                       'title title'
                       'idRow idRow'
                       'price .'
                       'actionsRow actionsRow';

  padding: $spacing-small;
  border-radius: $medium-radius;
  border: 1px solid black;
  height: max-content;
  max-width: 180px;
  min-width: max-content;
  margin: $spacing-medium;

  &:hover {
    cursor: pointer;
  }
}

@mixin shop-card-row-mixin {
  display: flex;
}

.shop-card-row-id {
  @include shop-card-row-mixin;
}

.shop-card-row-actions {
  @include shop-card-row-mixin;

  padding-top: $spacing-large;

  & div:first-child {
    margin-right: $spacing-small;
  }
}

.shop-card-img {
  grid-area: img;
  margin: auto;
  width: 150px;
  height: 150px;
}

.shop-card-title {
  @include font-large;
  grid-area: title;
}

.shop-card-id {
  flex: 1;
  @include font-small;
  color: $grey;
}

.shop-card-stock {
  @include font-small;
  margin-left: auto;
  margin-right: $spacing-small;
  color: $valid-green;
}

.shop-card-price {
  @include font-small;
  grid-area: price;
  color: $grey;
}

.shop-card-button {
  flex: 1;
  border-radius: $small-radius;
  border: 1px solid black;
  padding: $spacing-small;
  text-align: center;

  &:hover {
    cursor: pointer;
    color: white;
    background-color: black;
  }
}

@media only screen and (max-width: 360px) {
  .shop-card-container {
    max-width: unset;
  }
}

@media only screen and (max-width: 640px) {
  .shop-card-container {
    margin: $spacing-small;
  }
}

@media only screen and (max-width: 768px) {
  .shop-cards-container {
    justify-content: center;
  }
}

@media only screen and (min-width: 641px) and (max-width: 768px) {
  .shop-card-container {
    max-width: max-content;
  }
}
