@import "src/styles/utils";
@import 'src/styles/theme';

.shop-cards-scroll-container {
  flex: 1 0 90%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: $spacing-small;
  margin-bottom: $spacing-medium;
}

.shop-cards-container {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  grid-gap: $spacing-xlarge;
  padding: 0 4vw;
  justify-items: center;
  border-radius: 10px;
  max-width: 1400px;
}

.shop-card-container {
  flex: 1 0 20%;
  display: grid;
  grid-template-areas: 'img img'
                       'img img'
                       'img img'
                       'title title'
                       'idRow idRow'
                       '. price'
                       'actionsRow actionsRow';

  grid-row-gap: $spacing-medium;
  padding: $spacing-large $spacing-large $spacing-xlarge;
  height: 400px;
  width: 100%;
  border-radius: $small-radius;
  transition: background-color .5s ease-out;

  &:hover {
    cursor: pointer;
    background-color: $not-quite-white;
  }
}

@mixin shop-card-row-mixin {
  display: flex;
}

.shop-card-row-id {
  @include shop-card-row-mixin;
}

.shop-card-row-actions {
  @include shop-card-row-mixin;

  & > *:first-child {
    margin-right: $spacing-large;
  }
}

.shop-card-img {
  grid-area: img;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: $small-radius;
}

.shop-card-title {
  @include font-small;
  height: 60px;
  grid-area: title;
  font-weight: 600;
  white-space: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.shop-card-id {
  @include font-small;
  display: flex;
  align-items: center;
  color: $grey;
  font-weight: 600;
}

.shop-card-stock {
  @include font-small;
  display: flex;
  align-items: center;
  margin-left: auto;
  text-align: right;
  color: $valid-green;
  font-weight: 600;
}

.shop-card-price {
  @include font-medium;
  display: flex;
  grid-area: price;
  color: $grey;
  font-weight: 600;
  align-items: center;
  margin-left: auto;
}

.shop-card-button {
  flex: 1;
  display: flex;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  border-bottom: 2px solid $highlight-colour;
  color: $highlight-colour;
  padding: $spacing-small;
  justify-content: center;
  align-items: center;
  transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
  user-select: none;
  text-align: center;

  &:hover {
    cursor: pointer;
    color: #FFF;
    background-color: $highlight-colour;
    border-bottom-color: $highlight-colour;
  }

  &:active {
    border: 2px solid $highlight-colour;
    color: $highlight-colour;
    background-color: transparent;
  }
}

@media only screen and (max-width: 360px) {
  .shop-card-container {
  }
}

@media only screen and (max-width: 768px) {
  .shop-cards-container {
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .shop-card-title {
    text-align: center;
  }
}

@media only screen and (min-width: 641px) and (max-width: 768px) {
  .shop-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 769px) and (max-width: 968px) {
  .shop-cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
