@import '../utils';
@import 'src/styles/theme';
@import 'bootstrap-icons/font/bootstrap-icons';

.shop-cards-scroll-container {
  @include column;
  flex: 1 0 90%;
  margin-top: $spacing-small;
  margin-bottom: $spacing-medium;
}

.shop-cards-container {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  grid-gap: $spacing-xlarge;
  padding: 0 4vw;
  justify-items: center;
  border-radius: 10px;
  max-width: 1400px;
}

.shop-card-container {
  flex: 1 0 20%;
  display: grid;
  grid-template-areas: 'img img'
                       'img img'
                       'img img'
                       'title title'
                       'idRow idRow'
                       '. priceRow'
                       'actionsRow actionsRow';

  grid-row-gap: $spacing-medium;
  padding: $spacing-large $spacing-large $spacing-xlarge;
  height: 400px;
  width: 100%;
  border-radius: $small-radius;
  transition: background-color .5s ease-out;

  &:hover {
    background-color: $not-quite-white;
  }
}

@mixin shop-card-row-mixin {
  display: flex;
}

.shop-card-row-id {
  @include shop-card-row-mixin;
}

.shop-card-row-actions {
  @include shop-card-row-mixin;

  & > *:first-child {
    margin-right: $spacing-large;
  }
}

.shop-card-img-href-container {
  grid-area: img;
  margin: auto;
}

.shop-card-img {
  grid-area: img;
  width: 150px;
  height: 150px;
  border-radius: $small-radius;

  &:hover {
    cursor: pointer;
  }
}

.shop-card-title {
  @include font-small;
  height: 60px;
  grid-area: title;
  font-weight: 600;
  white-space: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-decoration: none;
  color: inherit;

  &:hover {
    cursor: pointer;
  }
}

.shop-card-id {
  @include font-small;
  display: flex;
  align-items: center;
  color: $grey;
  font-weight: 600;
}

.shop-card-stock {
  @include font-small;
  display: flex;
  align-items: center;
  margin-left: auto;
  text-align: right;
  font-weight: 600;
}

.shop-card-price-row {
  @include row-centered;
  grid-area: priceRow;
}

.shop-card-price {
  @include font-medium;
  display: flex;
  color: $grey;
  font-weight: 600;
  align-items: center;
  margin-left: auto;
}

.shop-card-discounted-price {
  @include font-medium;
  display: flex;
  color: $grey;
  font-weight: 800;
  align-items: center;
  margin-left: $spacing-medium;
}

.shop-card-discount-percentage {
  @include font-medium;
  display: flex;
  color: $grey;
  font-weight: 800;
  align-items: center;
  margin-left: $spacing-small;
}

.shop-card-button-href-container {
  flex: 1;
  padding: $spacing-small;
}

#bottom-actions-row {
  @include row-centered;
  flex: 1 0;
  position: relative;
  width: 100%;
}

#load-more-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-medium;
  border: 2px solid $highlight-colour;
  background-color: #FFF;
  text-align: center;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;

  &:hover {
    background-color: $highlight-colour;
    color: #FFF;
    cursor: pointer;
  }
}

#return-to-top-button {
  @include row-centered;
  position: fixed;
  border: 1px solid $highlight-colour;
  border-radius: 50px;
  height: 45px;
  width: 45px;
  font-size: 21pt;
  right: .75vw;
  bottom: 35px;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;

  &:hover {
    background-color: $highlight-colour;
    color: #FFF;
    cursor: pointer;
  }
}

.bi-chevron-up {
  @include row-centered;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 968px) {
  #return-to-top-button {
    right: -1px;
    height: 35px;
    width: 35px;
    font-size: 16pt;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

@media only screen and (max-width: 768px) {
  .shop-cards-container {
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    padding: 0 8vw;
  }

  .shop-card-title {
    text-align: center;
  }
}

@media only screen and (min-width: 641px) and (max-width: 768px) {
  .shop-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 769px) and (max-width: 968px) {
  .shop-cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
