@import 'src/styles/utils';
@import 'src/styles/theme';
@import 'src/styles/commonComponents.module';

.product-scroll-container {
  @include column-centered;
  justify-content: flex-start;
  margin-top: $spacing-small;
  margin-bottom: $spacing-medium;
  overflow-y: scroll;
  height: 100%;
}

.product-container {
  display: grid;
  grid-template-areas:
    'img img desc'
    'img img desc'
    '. . btn';
  grid-column-gap: $spacing-xlarge;
  padding: $spacing-xlarge;
  justify-items: center;
  border-radius: $medium-radius;
  max-width: 80%;
  background-color: $not-quite-white;
}

.product-image-container {
  grid-area: img;
  background-color: #FFF;
  border-radius: $medium-radius;
  max-height: 400px;
  max-width: 400px;
}

.product-details-container {
  grid-area: desc;
  display: grid;
  grid-row-gap: $spacing-large;
  grid-template-areas:
    'title title'
    'id stock'
    'desc desc'
    '. price';
}

.product-details-title {
  grid-area: title;
  @include font-xlarge;
  font-weight: 600;
}

.product-details-id {
  @include font-large;
  grid-area: id;
  color: $grey;
  font-weight: 600;
}

.product-details-stock {
  @include font-large;
  grid-area: stock;
  margin-left: auto;
  text-align: right;
  font-weight: 600;
}

.product-details-description-container {
  @include column;
  grid-area: desc;
}

.product-details-description-header {
  @include font-large;
  font-weight: 600;
}

.product-details-description {
  @include font-medium;
}

.product-details-price {
  @include font-large;
  grid-area: price;
  margin-left: auto;
}

.product-add-to-cart-button {
  @extend .action-button;
  grid-area: btn;
  width: 100%;
  height: 3.5rem;
}

@media only screen and (max-width: 640px) {
  .product-scroll-container {
  }

  .product-container {
    @include column-centered;
    margin-left: $spacing-large;
    margin-right: $spacing-large;
    row-gap: $spacing-medium;
  }

  .product-image-container {
    padding: $spacing-medium;
    max-width: 300px;
  }
}
