@import 'src/styles/utils';
@import 'src/styles/theme';
@import 'src/styles/commonComponents.module';
@import 'bootstrap-icons';

.container {
  display: grid;
  grid:
    "image ." 2fr
    "name price" 1fr
    "description description" 1fr
    "type colour" 1fr
    "stock discount" 1fr
    "actions actions" 1fr
    / 1fr 1fr;
  grid-gap: 8px;
  height: 100%;
  align-items: center;
}

.image-container {
  grid-area: image;
  height: 145px;
  width: 145px;
  transition: background-color 0.2s ease-in-out;
  border: 1px solid $not-quite-black;

  &:hover {
    cursor: pointer;
    background-color: $not-quite-white;
  }

  &.empty {
    @include row-centered;
  }
}

.empty-image-text {
  @include font-medium;
}

.actions-container {
  grid-area: actions;
  grid:
    "clear reset . . . submit" 1fr
    / 1fr 1fr 1fr 1fr 1fr 1fr;
  display: grid;
  height: 100%;
  align-items: center;
  column-gap: $spacing-medium;
}

.clear-button {
  @extend .action-button;
  grid-area: clear;
  height: 50%;
}

.submit-button {
  @extend .action-button;
  grid-area: submit;
  height: 50%;
}

.reset-button {
  @extend .action-button;
  grid-area: reset;
  height: 50%;
}
