@import '../utils';
@import 'src/styles/theme';
@import 'bootstrap-icons/font/bootstrap-icons';

.dropdown-container {
  @include column-centered;
  position: relative;
  background-color: $not-quite-white;
  margin: $spacing-medium;
  overflow: visible;
  min-width: 200px;
}

.dropdown-title-row {
  @include row-centered;
  width: 100%;
  border-top-left-radius: $small-radius;
  border-top-right-radius: $small-radius;
  padding-left: $spacing-small;
  padding-right: $spacing-small;

  &:hover {
    cursor: pointer;
    background-color: $not-really-white;
  }

  &.open {
    background-color: $not-really-white;
  }
}

.dropdown-title {
  @include row;
  flex: 1 0 60%;
  padding: $spacing-medium;
  user-select: none;
}

.bi-caret-down-fill {
  @include row-centered;
  flex: 1 0;
  height: 100%;
  width: 100%;
  border-top-right-radius: $small-radius;
  transition: transform .5s cubic-bezier(.82,0,.35,1);
  margin-right: $spacing-xsmall;

  &.dropdown-open {
    transform: rotate(180deg);
  }
}

.dropdown-options-container {
  @include column-centered;
  position: absolute;
  top: 40px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform .5s cubic-bezier(.82,0,.35,1);
  z-index: 2;
  background-color: $not-quite-white;
  max-height: 500px;

  & > div:not(:last-child) {
    border-bottom: 1px solid $not-quite-black;
  }

  &.dropdown-open {
    transform: scaleY(1);
  }
}

.dropdown-option-container {
  @include row-centered;
  padding: $spacing-small;
  width: 100%;
  transition: background-color .2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: $not-really-white;
  }
}

.dropdown-option-header {
  @extend .dropdown-option-container;

  &:hover {
    cursor: default;
    background-color: $not-quite-white;
  }
}

.dropdown-option-header-selected {
  flex: 1 0;
  font-size: 11pt;
}

.dropdown-option-header-select-all {
  @include row-centered;
  border: 1px solid black;
  padding-left: $spacing-small;
  padding-right: $spacing-small;
  user-select: none;

  &:hover {
    cursor: pointer;
    background-color: $not-really-white;
  }
}

.dropdown-option-header-select-all-title {
  font-size: 11pt;
}

.dropdown-select-options-container {
  @include column-centered;
  justify-content: unset;
  overflow-y: scroll;
  width: 100%;
  max-height: 250px;
}

.dropdown-search-option-container {
  @extend .dropdown-option-container;

  &:hover {
    cursor: text;
    background-color: $not-quite-white;
    color: $not-quite-black;
  }

  & input {
    padding: $spacing-small;
    width: 100%;
    background-color: transparent;
  }

  & input::placeholder {
    text-align: center;
  }
}

.dropdown-option-checkbox {
  @include row-centered;
  width: 14px;
  height: 14px;
  border: 1px solid black;
  margin: $spacing-xsmall $spacing-small $spacing-xsmall $spacing-xsmall;
}

.bi-check {
  @include row-centered;
}

.hidden {
  display: none;
}

.dropdown-option-text {
  flex: 3 0;
  text-align: left;
  user-select: none;
  width: 100%;
  height: 100%;
}
