
@import '../utils';
@import 'src/styles/theme';

.filter-bar-container {
  display: flex;
  flex-direction: column;
  margin: $spacing-medium;
  border: 1px solid $not-quite-black;
  background-color: $not-quite-white;
}

.filter-bar-row-container {
  display: flex;
}

.filter-bar-options-row-container {
  @extend .filter-bar-row-container;
  flex-direction: row;
  transition: width .5s ease-in-out;
  overflow: hidden;
  width: 0;
  border-right: 1px solid $not-quite-black;

  &.open {
    width: 50px;
  }
}

.filter-bar-options-row-item {
  flex: 1 0;
  display: flex;
}

.filter-bar-section-container {
  display: flex;
  flex: 0 1;
}

.filter-bar-section-container-right {
  @extend .filter-bar-section-container;
  margin-left: auto;
}

@mixin filter-bar-item {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.filter-bar-item-left {
  @include filter-bar-item;
  border-right: 1px solid $not-quite-black;
}

.filter-bar-item-right {
  @include filter-bar-item;
  border-left: 1px solid $not-quite-black;
  margin-left: auto;
}

.filter-bar-search-item {
  @extend .filter-bar-item-right;
  background-color: $not-quite-white;
  padding: $spacing-medium;
  margin-top: $spacing-small;
  margin-bottom: $spacing-small;
  margin-right: $spacing-small;
  height: unset;
  border: 1px solid $not-quite-black;
  border-radius: 3px;
  font-size: 16pt;
  width: 200px;

  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .filter-bar-container {
    margin-top: unset;
    margin-bottom: unset;

    & .filter-bar-section-container:first-child {
      order: 2;
      flex-direction: column;

      & .filter-bar-item-left {
        border-right: unset;
        height: 40px;
      }

      & .filter-bar-item-left:first-child {
        border-bottom: 1px solid $not-quite-black;
      }
    }
  }

  .filter-bar-options-row-container {
    height: 0;
    display: unset;
    border-right-color: transparent;
    width: unset;
    transition: height .5s ease-in-out;

    &.open {
      height: 100px;
      border-right-color: transparent;
    }
  }

  .filter-bar-row-container {
    flex-direction: column;
  }

  .filter-bar-section-container-right {
    width: 100%;
  }

  .filter-bar-search-item {
    width: 100%;
    margin: unset;
    border-right: unset;
    border-top: unset;
    border-left: unset;
    border-radius: 0;
    text-align: center;

    &:focus {
      border-radius: 0;
    }
  }
}


