
@import 'src/styles/utils';
@import 'src/styles/theme';

.filter-bar-container {
  display: flex;
  flex-direction: column;
  margin: $spacing-medium;
  border: 1px solid $not-quite-black;
  background-color: $not-quite-white;
}

.filter-bar-row-container {
  display: flex;
}

.filter-bar-options-row-container {
  @extend .filter-bar-row-container;
  height: 10px;
  transition: height 1s ease-in-out;

  &.open {
    height: 100px;
  }
}

.filter-bar-section-container {
  display: flex;
  flex: 0 1;
}

.filter-bar-section-container-right {
  @extend .filter-bar-section-container;
  margin-left: auto;
}

@mixin filter-bar-item {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: 640px) {
    width: 100%;
  }
}

.filter-bar-item-left {
  @include filter-bar-item;
  border-right: 1px solid $not-quite-black;
}

.filter-bar-item-right {
  @include filter-bar-item;
  border-left: 1px solid $not-quite-black;
  margin-left: auto;
}

.filter-bar-search-item {
  @extend .filter-bar-item-right;
  background-color: $not-quite-white;
  padding: $spacing-medium;
  margin-top: $spacing-small;
  margin-bottom: $spacing-small;
  margin-right: $spacing-small;
  height: unset;
  border: 1px solid $not-quite-black;
  border-radius: 3px;
  font-size: 16pt;
  width: 200px;

  &:hover {
    cursor: text;
  }
}

@media only screen and (max-width: 640px) {
  .filter-bar-container {
    flex-direction: column;
    margin-top: unset;
    margin-bottom: unset;
  }

  .filter-bar-section-container {
    order: 2;
  }

  .filter-bar-section-container-right {
    order: 1;
    margin: unset;
    width: 100%;
  }

  .filter-bar-item-left:last-child {
    border-right: none;
  }

  .filter-bar-search-item {
    width: 100%;
    margin: unset;
    border-right: unset;
    border-top: unset;
    border-left: unset;
    border-radius: 0;
    border-bottom: 1px solid $not-quite-black;

    &:focus {
      border-radius: 0;
    }
  }
}


