@import 'src/styles/theme';
@import 'src/styles/utils';
@import '~bootstrap-icons/font/bootstrap-icons';

$nav-side-basis: 20%;

nav {
  border-bottom: 5px solid $primary-colour;
  flex: 1 0 6%;
  display: flex;
  max-height: 100px;
}

.nav-side-container {
  flex: 1 0 $nav-side-basis;
  display: flex;
  align-items: center;

  .navbar-logo {
    margin: $spacing-small;
    padding: $spacing-small;
    max-height: 100%;
    max-width: 100%;

    &:hover {
      cursor: pointer;
    }
  }
}

.nav-right-side-container {
  @extend .nav-side-container;
  justify-content: flex-end;

  &:hover {
    cursor: pointer;
    color: $primary-colour;
  }

  .bi-cart2 {
    $scale: 2.75;
    $base: 16px;

    position: relative;
    transform: scale($scale);
    margin-right: $spacing-xlarge;

    span {
      height: $base;
      width: $base;
      position: absolute;
      @include font-medium;
      font-size: 6pt;
      right: 0;
      text-align: center;
      font-style: normal;
      user-select: none;
    }
  }
}

.nav-main-container {
  flex: 1 0 (100 - $nav-side-basis * 2);
  display: flex;
  justify-content: center;

  div:not(:last-child) {
    margin-right: $spacing-xlarge;
  }
}

.nav-main-container-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 128px;

  .link-title {
    @include font-xlarge;
    padding: $spacing-small;
    color: $font-colour;
    margin-top: auto;
    user-select: none;
  }

  .bi-bag {
    transform-origin: top;
    transform: scale(2.5);
  }

  &:hover {
    cursor: pointer;

    * {
      color: $highlight-colour;
      fill: $highlight-colour;
    }
  }
}
