@import 'src/styles/utils';
@import 'src/styles/theme';
@import 'src/styles/commonComponents.module';

.sidebar-container {
  @include column;
  height: 100vh;
  flex: 1 0 auto;
  background-color: $not-quite-white;
}

.sidebar-title-container {
  @include column-centered;
  padding-top: $spacing-xlarge;
  padding-bottom: $spacing-xlarge;
  background-color: $not-really-white;
}

.sidebar-title {
  @include font-medium;
}

.rows-container {
  @include column-centered;
  padding-top: calc(#{$spacing-xlarge} * 4);
  overflow: auto;
}

.action-button {
  width: 100%;
}
