@import 'src/styles/utils';
@import 'src/styles/theme';
@import 'src/styles/commonComponents.module';
@import 'bootstrap-icons';

.cart-scroll-container {
  @include column-centered;
  flex: 1 0 90%;
  justify-content: flex-start;
  margin-top: $spacing-medium;
  margin-bottom: $spacing-medium;
}

.cart-container {
  @include column-centered;
  flex: 1;
  justify-content: flex-start;
  max-width: 1200px;
  min-width: 1100px;
  row-gap: $spacing-medium;
}

.cart-row {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 85px 2fr .5fr .75fr .25fr;
  grid-template-areas: 'img title quantity price remove';
  border-radius: $medium-radius;
  background-color: $not-quite-white;
  padding: $spacing-medium;
  width: 100%;
}

.cart-img-container {
  grid-area: img;
  max-width: 85px;
  max-height: 85px;
}

.cart-img {
  background-color: #FFF;
  border-radius: $medium-radius;
}

.cart-title {
  grid-area: title;
  margin-left: $spacing-medium;
  font-size: 12pt;
  font-weight: 500;
  max-width: 600px;
  color: inherit;
  text-decoration: none;
}

.cart-quantity-container {
  grid-area: quantity;
  @include row-centered;
}

.cart-quantity {
  max-height: 50px;
  max-width: 80px;
  border: 1px solid $not-quite-black;
  border-radius: $small-radius;
  padding: $spacing-medium;
}

.cart-price-container {
  grid-area: price;
  @include row-centered;
}

.cart-price {
  @include font-large;
}

.cart-delete-icon-container {
  grid-area: remove;
  @include row-centered;
}

.bi-x {
  font-size: 2rem;
  transition: color .2s ease-in-out;

  &:hover {
    cursor: pointer;
    color: $invalid-red;
  }
}

.cart-quantity-header {
  @include font-medium;
  grid-area: quantity;
  text-align: center;
  color: $not-quite-black;
}

.cart-price-header {
  @include font-medium;
  grid-area: price;
  text-align: center;
  color: $not-quite-black;
}

.cart-remove-header {
  @include font-medium;
  grid-area: remove;
  text-align: center;
  color: $not-quite-black;
}

.cart-checkout-button {
  grid-area: remove;
  @extend .action-button;
}
