@import 'src/styles/utils';
@import 'src/styles/theme';
@import 'bootstrap-icons';

.action-button {
  flex: 1;
  display: flex;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  border-bottom: 2px solid $highlight-colour;
  color: $highlight-colour;
  padding: $spacing-small;
  justify-content: center;
  align-items: center;
  transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
  user-select: none;
  text-align: center;

  &:hover {
    cursor: pointer;
    color: #FFF;
    background-color: $highlight-colour;
    border-bottom-color: $highlight-colour;
  }

  &:active {
    border: 2px solid $highlight-colour;
    color: $highlight-colour;
    background-color: transparent;
  }
}

.action-button-no-border {
  @extend .action-button;

  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom-color: transparent;
  }

  &:active {
    border: 2px solid transparent;
  }
}

.toggle-header {
  @include row-centered;
  width: 100%;
  padding-left: $spacing-small;
  padding-right: $spacing-small;

  &:hover {
    cursor: pointer;
    background-color: $not-really-white;
  }

  &.open {
    background-color: $not-really-white;
  }
}

.toggle-header-title {
  @include row;
  flex: 1 0 60%;
  padding: $spacing-medium;
  user-select: none;
}

.bi-caret-down-fill {
  @include row-centered;
  height: 100%;
  border-top-right-radius: $small-radius;
  transition: transform .5s cubic-bezier(.82,0,.35,1);
  margin-right: $spacing-xsmall;

  &.caret-open {
    transform: rotate(180deg);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 1;
}

.hidden {
  display: none;
}
