@use 'reset';
@import 'theme';
@import "utils";

$nav-side-basis: 20%;

nav {
  border-bottom: 5px solid $primary-colour;
  flex: 1 0 6%;
  display: flex;
  max-height: 100px;
}

.nav-side-element {
  flex: 1 0 $nav-side-basis;
  display: flex;
  align-items: center;

  h1 {
    @include font-xlarge;
    margin-top: $spacing-small;
    margin-left: $spacing-small;
    margin-right: $spacing-small;
    padding: $spacing-small;
  }

  &:hover {
    cursor: pointer;

    color: $highlight-colour;
  }
}

.nav-main-element {
  flex: 1 0 (100 - $nav-side-basis * 2);
  display: flex;
  justify-content: center;

  div:not(:last-child) {
    margin-right: $spacing-xlarge;
  }
}

.nav-main-element-container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 128px;

  h1 {
    @include font-xlarge;
    padding: $spacing-small;
    color: $font-colour;
    margin-top: auto;
    user-select: none;
  }

  svg {
    padding: $spacing-small;
    flex: 1;
    height: max-content;
    width: max-content;
  }

  &:hover {
    cursor: pointer;

    * {
      color: $highlight-colour;
      fill: $highlight-colour;
    }
  }
}
