// Colours

$black: #0A0A0A;
$not-quite-white: #EDEDED;
$not-really-white: #CBCBCB;
$not-quite-black: #141414;

// Theme

$primary-colour: #4B59D9;
$secondary-colour: #FFF;
$font-colour: $black;
$highlight-colour: #32292F;
