name: Build Validator
on: [ push ]
jobs:
  ValidateClient:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./client
    strategy:
      matrix:
        node-version: [ 16 ]
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@master
    - with:
        node-version: ${{ matrix.node-version }}
    - uses: actions/cache@v1
      with:
        path: ~/.pnpm-store
        key: ${{ runner.os }}-node${{ matrix.node-version }}-${{ hashFiles('**/pnpm-lock.yaml') }}
    - run: curl -f https://get.pnpm.io/v6.16.js | node - add --global pnpm@6
    - run: pnpm i
    - run: pnpm run build
  ValidateServer:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./server
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@master
      with:
        node-version: ${{ matrix.node-version }}
    - uses: actions/cache@v1
      with:
        path: ~/.pnpm-store
        key: ${{ runner.os }}-node${{ matrix.node-version }}-${{ hashFiles('**/pnpm-lock.yaml') }}
    - run: curl -f https://get.pnpm.io/v6.16.js | node - add --global pnpm@6
    - run: pnpm i
    - run: pnpm run build
