name: Build Validator
on: [ push ]
jobs:
  ValidateClient:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./client
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: '16'
          cache: 'yarn'
      - run: yarn
      - run: yarn run build
  ValidateServer:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./server
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: '16'
          cache: 'yarn'
      - run: yarn
      - run: yarn run build
