name: CI
on:
  push:
    paths-ignore:
      - '**/updateDependencies.yml'
      - 'LICENSE'
      - '.gitignore'
      - '**/README.md'
jobs:
  TestClient:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./client
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: 16
      - uses: actions/cache@v1
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-node16-${{ hashFiles('**/pnpm-lock.yaml') }}
      - run: curl -f https://get.pnpm.io/v6.16.js | node - add --global pnpm@6
      - run: pnpm i
      - run: pnpm run test
  BuildClient:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./client
    needs: TestClient
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: 16
      - uses: actions/cache@v1
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-node16-${{ hashFiles('**/pnpm-lock.yaml') }}
      - run: curl -f https://get.pnpm.io/v6.16.js | node - add --global pnpm@6
      - run: pnpm i
      - run: pnpm run build
  BuildServer:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./server
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: 16
      - uses: actions/cache@v1
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-node16-${{ hashFiles('**/pnpm-lock.yaml') }}
      - run: curl -f https://get.pnpm.io/v6.16.js | node - add --global pnpm@6
      - run: pnpm i
      - run: pnpm run build
