name: CI
on: [ push, pull_request ]
jobs:
  TestClient:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./client
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: 16
      - run: npm i -g yarn
      - run: yarn
      - run: yarn run test
  BuildClient:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./client
    needs: TestClient
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: 16
      - run: npm i -g yarn
      - run: yarn
      - run: yarn run build
  BuildServer:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./server
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: 16
      - run: npm i -g yarn
      - run: yarn
      - run: yarn run build
